<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".BundlePickerActivity"
            android:exported="false"
            android:label="Select Bundle"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <property
                android:name="android.window.PROPERTY_COMPAT_ALLOW_RESTRICTED_RESIZABILITY"
                android:value="true" />
        </activity>
        <activity-alias
            android:name=".MainActivityAuroraAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_aurora"
            android:label="H5 Poster"
            android:roundIcon="@mipmap/ic_launcher_aurora_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivityRuntimeAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_runtime"
            android:label="Runtime Lab"
            android:roundIcon="@mipmap/ic_launcher_runtime_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivityDownloadedAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_downloaded"
            android:label="Downloaded Bundle"
            android:roundIcon="@mipmap/ic_launcher_downloaded_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivityLujiaAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_lujia"
            android:label="陆家账本"
            android:roundIcon="@mipmap/ic_launcher_lujia_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivityPointsAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_points"
            android:label="陆奕凡积分"
            android:roundIcon="@mipmap/ic_launcher_points_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".MainActivityCustomAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_runtime"
            android:label="Custom H5"
            android:roundIcon="@mipmap/ic_launcher_runtime_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
